@import "./src/styles/sizes";
@import "./src/styles/view";

.circleButtonImage {
  width:$circle-button-size;
  height: $circle-button-size;
  border-radius: $circle-button-size / 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circleButtonImage:hover {
  opacity: $hover-opacity;
}
