$header-background-color: rgba(218, 225, 227, 0.6);

$primary-color: #c90682;
$lighter-primary-color: rgba(255, 201, 236,0.6);

$scrollbar-color: rgb(206, 198, 207);

$text-color: #525252;

$channel-notice-color: #fc44b9;
