$font-sizes: (
  "h1": 30px,
  "h2": 25px,
  "h3": 20px,
  "h4": 16px,
  "h5": 14px,
  "h6": 12px,
);

$circle-button-size: 40px;
$header-height: 40px;
$header-vertical-padding: 15px;

$border-radius: 20px;
