@use "sass:map";
@import "./src/styles/colors";
@import "./src/styles/sizes";

.header {
  position: sticky;
  background-color: $header-background-color;
  height: 40px;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: map.get($font-sizes, "h1");
  color: $header-color;
  font-weight: bold;
}
