@use "sass:map";
@import "./src/styles/colors";
@import "./src/styles/sizes";

.header {
  position: sticky;
  background-color: $header-background-color;
  height: $header-height;
  padding: $header-vertical-padding 100px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: map.get($font-sizes, "h1");
  color: $primary-color;
  font-weight: bold;
}
