@import "./src/styles/sizes";

.chatBodyContainer{
  width: 100%;
  height: calc((100% - (#{$header-height} + #{$header-vertical-padding}*2)));
  display:flex;
  align-items: center;
  justify-content: center;
}

.chatBody {
  height: 80%;
  width: 80%;
  border:1px solid green;
}
